<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic</title>
    
</head>
<body>

    <header>
        <h1>Dodawanie pojazdu</h1>
    </header>

    <main>
        <p>Tworzenie pojazdu</p>
        <form action="/addVehicle " method="POST">
            <label for="marka">Marka:</label><br>
            <input type="text" id="marka" name="markaName" value=""><br>
            <label for="nrRejestracji">Numer Rejestracyjny:</label><br>
            <input type="text" id="nrRejestracji" name="nrRejestracjiName" value=""><br>
            <label for="rocznik">Rocznik:</label><br>
            <input type="text" id="rocznik" name="rocznikName" value=""><br>
            <input type="submit" value="Dodaj Samochód"/>
        </form>
    </main>

    <footer>
        <a href="/">Home</a><br><br>
        <a href="/mojepojazdy">Moje Pojazdy</a><br><br>
    </footer>

</body>
</html>
