<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic</title>
    
</head>
<body>

    <header>
        <h1>Zarejestrowano Pomyślnie</h1>
    </header>

    <main>
        <p>Konto</p><br><br>
        <p>{{.email}}</p>
        <p>{{.password}}</p>
    </main>

    <footer>
        <a href="/login">Zaloguj się</a>
        <a href="/rejestracja">Zarejestruj się</a>

    </footer>

</body>
</html>