<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic</title>
    
</head>
<body>

    <header>
        <h1>Profil</h1>
        <p>Osobisye Id {{.ID}}</p>
        <p>Hasło {{.Password}}</p>
        <p>Data założenia {{.CreatedAt}}</p>
        <p>Ilość samochodów {{.NumberofCars}}</p>

        <p>Opcje wyloguj się, edytuj dane</p>
        
    </header>

    <main>
        
    </main>

    <footer>
        
    </footer>

</body>
</html>