<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic</title>
    
</head>
<body>

    <header>
        <h1>Rejestracja</h1>
    </header>

    <main>
        <form action="/potwierdzenie" method="POST">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="emailName" value=""><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="passwordName" value=""><br>
            
            <input type="submit" value="Potwierdź">
        </form>
        <br><br>
    </main>

    <footer>
        
    </footer>

</body>
</html>